<html>
<head><style>
div{
	height:700px;
	background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%)
}
</style>
</head>
<body><div>
<font face="Arial Black">
<center>
<table border="1" cellspacing="2" cellpadding="5" width="100%">
</center>
<td colspan="4" ><center><fontsize="8"><marquee width="100%" bgcolor="HoneyDew">Design And Implementation Of Hotel Reservation System Using Python And PHP</marquee></center></td></tr>
<tr>

<td><center><a href="Home.html" target="des_page">Home</a></center></td>
<td><center><a href="Registration.html" target="des_page">Registration</a></center></td>
<td><center><a href="Login.html" target="des_page">Login</a></center></td>
<td><center><a href="customer.html" target="des_page">Booking</a></center></td>
</tr>
</table>
</center>
</font></div>
</body>
</html>

