<html>
<head>
<style>
div{
	height:700px;
	background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 1500%)
}
</style>
<title>REGISTRATION PAGE</title></head>
<body>
	<font face="Arial Black">
		<center>
		<table border="1" cellspacing="2" cellpadding="5" width="100%">
		</center>
		<td colspan="4" ><center><fontsize="8"><marquee width="100%" bgcolor="HoneyDew">Design And Implementation Of Hotel Reservation System Using Python And PHP</marquee></center></td></tr>
		<tr>
		<td><center><a href="/">Home</a></center></td>
		<td><center><a href="/Registration">Registration</a></center></td>
		<td><center><a href="/Login">Login</a></center></td>
		</tr>
		</table>
		</center>
	</font>
	<div>
<br><br><br><br><br><br><br>
<table align=center>
<form action="/registeruser" method="POST">
	<tr>
		<th colspan=2><u>USER REGISTRATION</u></th>
	</tr>
	<tr>
		<td>Enter your Wallet Address</td>
		<td><input type="text" name="walletaddr" required=""/></td>
	</tr>
	<tr>
		<td>Name</td>
		<td><input type="text" name="name" required=""/></td>
	</tr>
	<tr>
		<td>Mobile</td>
		<td><input type="digits" name="mobile" required=""/></td>
	</tr>
	<tr>
		<td>E-mail</td>
		<td><input type="text" name="email" required=""/></td>
	</tr>
	<tr>
		<td>Password</td>
		<td><input type="password" name="password"/></td>
	</tr>
	<tr>
		<td colspan=2 align=center>
			<input type="submit" value="Register"/>
			<input type="Reset" value="Reset"/>
		</td>
	</tr>
	<tr><td colspan="2">
	</tr></td>
</table>
</form><div>
</body>
</html>


